.user-profile-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & &__heading {
    font-size: var(--fs-large);
    color: var(--clr-main-700);
    font-weight: var(--fw-bold);
    text-shadow: 0px 0px 12px var(--clr-main-300);
    margin-bottom: 0.5rem;
  }

  & &__no-events {
    color: var(--clr-main-500);
    font-weight: var(--fw-semi-bold);
    font-style: italic;
    font-size: var(--fs-medium);
    margin-top: 1rem;
  }

  & &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  & &__date {
    font-size: var(--fs-medium);
  }

  & &__date,
  & &__day {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-main-700);
    text-align: center;
  }

  & &__day-container {
    display: flex;
  }

  & &__month {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & &__day {
    width: 55px;
    font-size: var(--fs-medium);
  }

  & &__events {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    width: 100%;
  }

  @media (max-width: 1000px) {
    & &__events {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 800px) {
    & &__events {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 600px) {
    & &__events {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 450px) {
    & &__events {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
