.group-nav {
  display: flex;
  color: var(--clr-font-white);

  & &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 3rem;
  }

  & &__link {
    background-color: var(--clr-main-300);
    font-size: var(--fs-medium);
    font-weight: var(--fw-semi-bold);
    border-radius: var(--border-radius-medium);
    padding: 0.1rem 0.8rem;
  }

  & &__link:hover,
  & &__link-active {
    background-color: var(--clr-main-700);
    box-shadow: 0px 0px 8px var(--clr-main-700);
  }

  & &__options {
    position: relative;
    color: var(--clr-font-body-black);
    font-size: var(--fs-heading);
    margin-right: 2rem;
  }
}
