.calendar-item {
  aspect-ratio: 3/2;
  background-color: var(--clr-bg);
  border-radius: var(--border-radius-small);
  padding: 0 0.25rem;
  position: relative;

  & &__add-event {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: none;
  }

  &:hover > &__add-event {
    display: block;
  }
}
