.user-tasks-and-events {
  margin: 0 1rem;

  & .input-field {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

  & &__nav-container {
    overflow-x: scroll;
    max-width: 80%;
    margin: 1.5rem auto;
    border-radius: var(--border-radius-medium);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & &__content {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;

    & > * {
      flex-basis: 100%;
    }
  }
}
