:root {
  --clr-yellow: hsl(44, 100%, 52%); // little change
  --clr-orange: hsl(19, 97%, 51%); // ok
  --clr-red: hsl(334, 100%, 50%); // ok
  --clr-purple: hsl(265, 83%, 57%); // ok
  --clr-blue: hsl(217, 100%, 61%); //  ok
  --clr-green: hsl(90, 100%, 44%); // ok / little change
  --clr-success: hsl(144, 82%, 47%); // ok / very little change
  --clr-error: hsl(353, 86%, 54%); // ok
  --clr-bg: hsl(184, 58%, 95%);
  --clr-main-100: hsl(218, 100%, 87%);
  --clr-main-300: hsl(227, 100%, 80%);
  --clr-main-500: hsl(232, 100%, 74%);
  --clr-main-700: hsl(234, 100%, 66%); // ok
  --clr-font-white: hsl(0, 0%, 100%);
  --clr-font-black: hsl(0, 0%, 8%);
  --clr-font-body-white: hsl(0, 0%, 100%);
  --clr-font-body-black: hsl(0, 0%, 8%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-black-transparent: hsla(0, 0%, 0%, 0.5);
  --clr-white: hsl(0, 0%, 100%);

  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-body: 18px;
  --fs-heading: 2rem;
  --fs-small: 14px;
  --fs-medium: 1.25rem;
  --fs-large: 1.5rem;
  --fs-logo: 2.5rem;

  --border-radius-small: 6px;
  --border-radius-medium: 12px;
  --border-radius-large: 24px;
}

[data-theme='dark'] {
  --clr-font-body-white: hsl(0, 0%, 8%);
  --clr-font-body-black: hsl(0, 0%, 100%);
  --clr-bg: #242424;
}
