.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  user-select: none;

  & &__group-name-container {
    flex-grow: 1;
  }

  & &__group-name {
    text-align: center;
    font-size: var(--fs-large);
    color: var(--clr-main-700);
    font-weight: var(--fw-bold);
    text-shadow: 0px 0px 8px var(--clr-main-100);
  }

  & &__user-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & &__logo {
    font-size: var(--fs-logo);
    font-weight: var(--fw-bold);
    color: var(--clr-main-700);
    text-shadow: 2px 3px 2px var(--clr-main-500);
    cursor: pointer;
    transition: all 2s ease;
    position: relative;
  }

  & &__profile-picture-container {
    position: relative;
  }

  & &__profile-picture {
    cursor: pointer;
  }
}
