.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  user-select: none;

  & &__hamburger {
    display: none;
    font-size: var(--fs-large);
    margin-right: 1rem;
    margin-left: 0.5rem;
    color: var(--clr-main-700);
    cursor: pointer;
  }

  & &__group-name-container {
    flex-grow: 1;
  }

  & &__group-name {
    text-align: center;
    font-size: var(--fs-large);
    color: var(--clr-main-700);
    font-weight: var(--fw-bold);
    text-shadow: 0px 0px 8px var(--clr-main-100);
  }

  & &__user-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & &__logo {
    font-size: var(--fs-logo);
    font-weight: var(--fw-bold);
    color: var(--clr-main-700);
    text-shadow: 2px 3px 2px var(--clr-main-500);
    cursor: pointer;
    position: relative;
  }

  & &__profile-picture-container {
    position: relative;
    width: 64px;
  }

  & &__profile-picture {
    cursor: pointer;
  }

  & > .button__sign-in {
    padding-right: 0rem !important;
  }

  @media (max-width: 850px) {
    & &__hamburger {
      display: block;
    }

    & &__logo {
      font-size: var(--fs-heading);
      text-align: center;
    }

    & &__group-name-container {
      grid-row: 2;
      grid-column: 1/4;
    }

    & &__group-name {
      font-size: var(--fs-medium);
      margin: 0 auto;
    }

    & &__user-section {
      gap: 0.5rem;
      justify-self: end;
    }

    & &__user-name {
      display: none;
    }
  }

  @media (max-width: 500px) {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 0.25rem;
  }
}
