.input-field {
  --input-padding: 0.5rem 1rem;
  --left-offside: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--clr-font-black);

  & &__input {
    background-color: var(--clr-main-100);
    border-radius: var(--border-radius-medium);
    padding: var(--input-padding);
  }

  & &__label {
    position: absolute;
    padding: var(--input-padding);
    bottom: 0px;
    left: 0px;
    transition: all 0.5s ease;
  }

  & &__input-text {
    position: relative;
  }

  &:focus-within:before,
  & &__input-text:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 2px solid var(--clr-main-300);
    box-shadow: 0px 0px 4px 2px var(--clr-main-300);
    background-color: var(--clr-main-100);
    border-radius: var(--border-radius-medium);
  }

  & &__input:focus ~ &__label,
  & &__label-focused {
    left: calc(var(--left-offside) * -1);
    bottom: 90%;
  }
}
