.calendar {
  margin: 0 1rem;

  & &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem;
  }

  & &__previous {
    rotate: 180deg;
  }

  & &__previous,
  & &__next {
    font-size: var(--fs-large);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover > polyline {
      stroke: var(--clr-main-700);
    }

    &:hover {
      transform: scale(1.2);
      filter: drop-shadow(0px 0px 4px var(--clr-main-300));
    }
  }

  & &__current-date {
    width: 180px;
    text-align: center;
    user-select: none;
  }

  & &__scroll-box {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & &__day {
    text-align: center;
    color: var(--clr-font-white);
    font-weight: var(--fw-semi-bold);
  }

  & &__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1000px;
    min-width: 800px;
    background-color: var(--clr-main-700);
    border: 6px solid var(--clr-main-700);
    grid-gap: 6px;
    margin: 0 auto;
    border-radius: var(--border-radius-small);
    margin-bottom: 1rem;
  }
}
