.tasks {
  overflow: scroll hidden;
  display: flex;
  gap: 2rem;
  padding: 3rem;

  & &__loading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
